.Profile {
    width: 16vw;
    background-color: ghostwhite;
    margin-bottom: 60vh;
    border-radius: 2vh;
    padding: 2vh;
}

.Profile__container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.Profile__name {
    font-size: 1.5rem;
    font-weight: 600;
}

.Profile__content {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}